.subheader {
    height: 4em;
    width: 96em;

    background-color:rgb(60,32,20);
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family:Verdana;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productionTracker {
    height: 34.7em;
    background-image:url(https://iili.io/JIly1PS.md.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trackerButton {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family:Verdana;
}

.trackerButton:hover {
    cursor: pointer;
    color: rgb(188,149,44);
}

.gridContainer {
    height: 26.5em;
    width:50em;
}

.grid {
    background-color:burlywood;
}