.header {
    height: 4em;
    /* width: 96em; */

    background-color:rgb(60,32,20);
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family:Verdana;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spacerDiv {
    width: 55em;
}

.headerButton:hover {
    cursor: pointer;
    color: rgb(188,149,44);
}