.home {
    height: 37.7em;
    /* background-color: rgb(230, 229, 229); */
    background-image:url(https://iili.io/JI0JqAu.md.jpg);
    /* background-size: cover; */
    background-repeat:no-repeat;
    background-position: center center;
}